@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    line-height: 1.5;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.section__title {
    font-size: 16px;
    letter-spacing: 0.1rem;
}


.section__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    margin: 12px 0;
}

.section__para {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
}

.center {
    text-align: center;
}

.section__img--wrapper {
    display: flex;
    align-items: center;
}

.section__img {
    width: 100%;
    height: max-content;
}

.purple {
    color: #6415ff;
}

button,
.btn__primary,
.section__btn {
    display: flex;
    background-color: rgb(100, 21, 255);
    color: white;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80%;
    border: none;
    border-radius: 99px;
    padding: 16px 0;
    margin: 8px 8px 8px 0;
}
.btn__primary:hover,
.section__btn:hover {
    background-color: #6415ff;
}

.section__btn {
    font-size: 14px;
    width: 140px;
    padding: 12px 0;
    margin: 0;
    margin-top: 2rem;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.link__hover-effect {
    position: relative;
    transition: all 300ms ease;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -2px;
    right: 0;
    width: 0;
    opacity: 0;
}

.link__hover-effect:hover::after {
    width: 100%;
    opacity: 1;
}

.no-cursor {
    cursor: not-allowed;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo:hover h1{
    color: rgb(100, 21, 255);
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.nav__logo h1 {
    font-size: 24px;
    font-weight: 900;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link--anchor {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 0 0 4px;
}

.nav__link--styled {
    margin: 0 24px 0 48px;
}

.nav__link--anchor-primary {
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 20px;
    padding: 12px 32px;
    margin: 0;
    transition: all 300ms ease;

}

.link__hover-effect--purple:hover {
    color: rgb(100, 21, 255);
}
.link__hover-effect--purple::after {
    background-color: rgb(100, 21, 255);
}

.nav__link--anchor-primary:hover {
    background-color: rgb(80, 17, 204);
}

/* btn nav menu */

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/******************************

* HEADER / LANDING ABOUT US ↓ *

******************************/

header .row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* column 1 / left */
#landing .section__container {
    display: flex;
    flex-direction: column;
    width: 41.6667%;
}

.landing__info--title {
    font-size: 48px;
    line-height: 1.25;
    color: black;
}

#landing .section__para {
    display: flex;
    color: #243e63;
    margin: 2rem 0;
    font-size: 18px;
}

.landing__email--wrapper{
    position: relative;
    display: flex;
    max-height: 80px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 99px;
    width: 85%;
    align-items: center;
    transition: all 300ms ease;
    margin: 0;
    margin-bottom: 10vh;
}

.landing__email--wrapper:hover {
    border: 2px solid rgb(160, 170, 192);
}


#landing input {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
    border: none;
    border-radius: 99px;
    outline: none;
    padding: 20px 192px 20px 32px;
    flex: 1;
}

.landing__email--wrapper:focus-within{
    border-color: rgb(80, 17, 204);
}

input:focus,
input:not(:placeholder-shown) {
    opacity: 1;
    color: #1a202c;
}

#landing .btn__primary {
    position: absolute;
    right: 0;
}

.landing__customers {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
    opacity: 0.5;
}

.landing__customers--txt {
    display: flex;
    font-weight: 800;
    font-size: 12px;
}

.landing__customers--img {
    padding-right: 8rem;
    margin-top: 1rem;

}

#landing .section__img--wrapper {
    width: 60%;
    flex: 1;
}

/***********************

*         MAIN         *

***********************/

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
}

#features .section__heading{
    text-align: center;

}

#features .center {
    width: calc(100%/1.8);
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0;
}
.feature {
    padding: 32px 8px;
    margin: 0 auto;
    width: calc(100% / 3);
    display: flex;
    flex-direction: row;
}

.feature__icon--wrapper {
    border: 1px solid rgb(160, 170, 192, 0.3);
    border-radius: 50%;
    max-height: 66px;
    padding: 20px;
}
.feature__icon--img {
    width: 24px;
    height: 24x;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature__txt--wrapper {
    margin: 8px 0 0 16px;
}
.feature__name {
    font-size: 24px;
}
.feature__para{
    max-width: 200px;
    margin-top: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 2;
    justify-content: left;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .section__container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#quality .section__para {
    padding-right: 1.5rem;
}

#quality .section__img--wrapper {
    width: 100%;
}

#quality .section__img {
    border: 1px solid rgba(160, 170, 192, 0.3);
    border-radius: 5px;
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

#steps .section__img--wrapper {
    width: 50%;
}

#steps .section__container--wrapper {
    padding: 2rem 0;
}
#steps .section__container {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.step__container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    width: 24rem;
}

.step__number {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    color: #CBD5E0;
    padding-bottom: 1rem;
}

.step {
    margin-left: 24px;
}
.step__name {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}
.step__desc {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .section__container--wrapper {
    width: 50%;
}
#values .section__img--wrapper {
    width: 50%;
}

#values .section__container {
    margin-right: 4rem;
}

#values .section__para {
    margin-top: 2rem;
}

.values__container {
    display: flex;
    flex-direction: row;
}

.value {
    padding-top: 2rem;
    padding-right: 2rem;
    width: 50%;
}
.value:last-child{
    padding-right: 0;
}

.value__header--wrapper {
    display: flex;
    flex-direction: row;
}

.value__i--wrapper {
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 8px;
}
.fa-dollar-sign path {
    color: darkgreen;
}
.value__i--wrapper--green {
    background-color: #9AE684;
}
.fa-suitcase path {
    color: darkred;
}
.value__i--wrapper--red {
    background-color: rgb(236, 159, 159);
}

.value__header--text {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 0.75rem;
}

.value__desc {
    font-weight: 400;
    opacity: 0.8;
    margin-top: 1rem;
}

#values .section__btn {
    margin-top: 3rem;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__container {
    text-align: center;
    justify-content: center;
    width: 100%;
}

#pricing .section__title {
    margin-bottom: 1rem;
}

#pricing .section__para {
    margin: 0 auto;
    margin-top: 1rem;
    width: calc(100%/2.2);

}

.plans__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    flex-shrink: 0;
}

.plan {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    margin-top: 4rem;
    margin-right: 2rem;
    padding: 2rem 0.5rem 2rem;
    width: calc(100% / 3.3);
    max-width: 24rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(160, 170, 192, 0.2);
    box-shadow: 0px 1px 2px rgba(160, 170, 192, 0.3);
}

.plan__header--styled{
    position: absolute;
    left: 0;
    top: 0;
    height: 0.5rem;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
.plan__header,
.plan__features,
.plan__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    font-weight: 700;
}

.plan--btn {
    padding: 1rem 0;
    font-size: 0.9rem;
    height: 3.2rem;
    width: 12rem;
    color: white;
    box-shadow: none;
    transition: all 300ms ease;
}


.plan__name,
.plan__price,
.plan__feature--main {
    font-size: 20px;
    color: rgb(36, 36, 41);

}
.plan__price {
    font-size: 48px;
}
.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
    opacity: 0.5;
}

.plan__features {
    border-top: 2px solid rgba(160, 170, 192, 0.3);
    border-bottom: 2px solid rgba(160, 170, 192, 0.3);
    padding: 2rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.plan__feature {
    margin-top: 1.25rem;
    opacity: 0.6;
}

.plan__action {
    padding-bottom: 0;
}
.plan1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129,230,217) 100%);
}

.plan--highlight {
    background-image: linear-gradient(135deg, rgb(76,81,191) 0%, rgb(102,126,234) 100%);
}
.plan--highlight .plan__name,
.plan--highlight .plan__price,
.plan--highlight .plan__duration,
.plan--highlight .plan__feature--main,
.plan--highlight .plan__feature {
    color: white;
    opacity: 1;
}
.plan__header,
.plan__features,
.plan__action {
    background-image: none;
}
.plan--highlight .plan__feature {
    font-weight: 400;
}

.plan2 {
    background-color: white;
    color: #6415ff;
}

.plan3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan--btn:hover {
    transform: translate(2px, -2px);
    filter: brightness(0.94);
    box-shadow: -1px 2px 15px rgba(63, 63, 63, 0.3);
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#testimonials .section__img--wrapper {
    display: flex;
    width: 50%;
    float: left;
}
#testimonials .section__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 4rem;
}


.review__container {
    margin-top: 2.5rem;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.review {
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
}
.fa-star path {
    font-family: FontAwesome;
    color: rgb(246, 173, 85);
}
.review__title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
}
.review__para {
    margin-top: 1rem;
}

.review__info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.review__client--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
}

.review__img--mask {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.review__img {
    width: 100%;
}

.review__client--id {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1.5rem;
}
.review__client--name {
    font-size: 1.25rem;
    font-weight: 700;
}
.review__client--title {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.7;
}

.review button,
.review__btn path {
    margin: 0 0.75rem;
    width: 50px;
    background-color: rgb(237, 242, 247);
    color: #6415ff;
}



/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
    margin-bottom: 6rem;
}

.getstarted__contents--wrapper {
    display: flex;
    padding: 6rem 0;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #6415ff;
}

.getstarted__contents--row {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1024px;
}

.getstarted__text {
    color: white;
    font-weight: 700;
    font-size: 1.875rem;
    width: 50%;
    justify-content: center;
}
.getstarted__btn--container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
#start .section__btn {
    padding: 1.25rem 2.5rem;
    width: 11rem;
    margin-top: 0;
    font-size: 16px;
    transition: all 300ms ease;
}

.btn__getstarted {
    background-color: rgb(245, 101, 101);
    margin-right: 2rem;
}
.btn__getstarted:hover {
    background-color: rgb(229, 62, 62);
}
.btn__contact {
    border: 1px solid rgb(160, 174, 192);
}
.btn__contact:hover {
    background-color: white;
    color: #6415ff;
}

/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row h5, 
.footer__row a {
    color: white;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col__header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

footer li {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.75rem;
}

footer a {
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}

footer a:hover {
    border-color: white;
}

.footer--divider {
    width: 100%;
    margin: 4rem 0;
    border-bottom: 2px solid rgb(116, 44, 255);
}

.footer--btmrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer__logo h5 {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}
.footer__logo--img {
    width: 2rem;
}

.footer--copyright {
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.footer--socials {
    display: flex;
    flex-direction: row;
}
.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: white;
    width: 32px;
    height: 32px;
    padding: 0.5rem;
    margin-right: 1rem;
}
.footer__social-link:hover {
    background-color: rgb(203, 213, 224);
}
footer .svg-inline--fa {
    display: block;
    height: 0.85rem;
}
footer .svg-inline--fa path{
    color: black;
}




/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

    .landing__info--twocol {
    flex-direction: column;
    }
}