@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    line-height: 1.5;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.section__title {
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.section__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    margin: 12px 0;
}

.section__para {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
}

.section__img {
    width: 100%;
    height: max-content;
}

.purple {
    color: #6415ff;
}

.btn__primary {
    display: flex;
    background-color: rgb(100, 21, 255);
    color: white;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80%;
    border: none;
    border-radius: 99px;
    padding: 16px 0;
    margin: 8px 8px 8px 0;
}
.btn__primary:hover {
    background-color: #6415ff;
}


section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.link__hover-effect {
    position: relative;
    transition: color 300ms ease;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -2px;
    right: 0;
    width: 0;
}

.link__hover-effect:hover::after {
    width: 100%;
}

.no-cursor {
    cursor: not-allowed;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo:hover h1{
    color: rgb(100, 21, 255);
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.nav__logo h1 {
    font-size: 24px;
    font-weight: 900;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link--anchor {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 0 0 4px;
}

.nav__link--styled {
    margin: 0 24px 0 48px;
}

.nav__link--anchor-primary {
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 20px;
    padding: 12px 32px;
    margin: 0;
    transition: all 300ms ease;

}

.link__hover-effect--purple:hover {
    color: rgb(100, 21, 255);
}
.link__hover-effect--purple::after {
    background-color: rgb(100, 21, 255);
}

.nav__link--anchor-primary:hover {
    background-color: rgb(80, 17, 204);
}

/* btn nav menu */

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/**********************

* HEADER / ABOUT US ↓ *

**********************/

header .row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.about__info--twocol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* column 1 / left */
.about__info--container-col1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 448px;
}

.about__info--title {
    font-size: 48px;
    line-height: 1.25;
    color: black;
}

.about__info--para {
    display: flex;
    margin: 32px 0;
    font-size: 18px;
}

.about__email--wrapper{
    position: relative;
    display: flex;
    max-height: 80px;
    width: 90%;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 99px;
    align-items: center;
    transition: all 300ms ease;
    margin-bottom: 10vh;
}

.about__email--wrapper:hover {
    border: 2px solid rgb(160, 170, 192);
}


input {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
    border: none;
    border-radius: 99px;
    outline: none;
    padding: 20px 192px 20px 32px;
    flex: 1;
}

.about__email--wrapper:focus-within{
    border-color: rgb(80, 17, 204);
}

input:focus,
input:not(:placeholder-shown) {
    opacity: 1;
    color: #1a202c;
}

#landing .btn__primary {
    position: absolute;
    right: 0;
}

.about__customers {
    display: flex;
    position: relative;
    bottom: 0;
    flex-direction: column;
    opacity: 0.5;
}

.about__customers--txt {
    display: flex;
    font-weight: 800;
    font-size: 12px;
    margin: 16px 0;
}

.about__customers--img {
    padding-right: 8rem;

}

.about__img--col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.about__picture--wrapper {
    min-width: 512px;
    width: 100%;
    max-width: 48vw;
}

.about__picture--img {
    max-width: 100%;
}

/***********************

*         MAIN         *

***********************/

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
}

#features .section__heading{
    text-align: center;

}

.section__para--center {
    text-align: center;
    width: calc(100%/1.8);
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0;
}
.feature {
    padding: 32px 8px;
    margin: 0 auto;
    width: calc(100% / 3);
    display: flex;
    flex-direction: row;
}

.feature__icon--wrapper {
    border: 1px solid rgb(160, 170, 192, 0.3);
    border-radius: 50%;
    max-height: 66px;
    padding: 20px;
}
.feature__icon--img {
    width: 24px;
    height: 24x;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature__txt--wrapper {
    margin: 8px 0 0 16px;
}
.feature__name {
    font-size: 24px;
}
.feature__para{
    max-width: 200px;
    margin-top: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.75;
    justify-content: left;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .section__container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#quality .section__para {
    padding-right: 1.5rem;
}

#quality .btn__primary {
    font-size: 14px;
    padding: 12px 32px;
    margin: 2rem 0 0;
    width: 25%;
}

#quality .section__img--wrapper {
    display: flex;
    width: 100%;
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

#steps .section__img--wrapper {
    display: flex;
    align-items: center;
    width: 50%;
}

#steps .section__container--wrapper {
    padding: 2rem 0;
}
#steps .section__container {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.step__container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    width: 24rem;
}

.step__number {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    color: #CBD5E0;
    padding-bottom: 1rem;
}

.step {
    margin-left: 24px;
}
.step__name {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}
.step__desc {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.link__hover-effect--white::after {
    background-color: white;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

    .about__info--twocol {
    flex-direction: column;
    }
}